* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
    color: white;

}

a:hover{
    font-weight: bold;
    color: aliceblue;
}

ul {
    list-style-type: none;
}

image {
    max-height: 100%;
}

.navbar{
    background-color: rgb(91, 91, 91);
    height: 60px;
    overflow: hidden;
    color: white;
    border-bottom: black solid 1px;
}

.navbar:hover{
    background-color: black;
}

.navbar .container{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 5px;
}

.navbar .container h4{
    font-weight: bold;
    line-height: 1;
    flex-shrink: 1;
}

.navlinks ul {
    display: flex;
    flex-shrink: 1;
    align-self: center;
}

.navlinks ul li{
    margin-left: 20px;
    flex-shrink: 1;
}

.header{
    min-height: 450px;
    background-color: #fafafa;
    display: flex;
    align-items: center;
}

.header .container{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    justify-content: space-between;
    align-items: center;
    padding-top: 15px;
}

.main-info{
    flex-basis: 55%;
    flex-shrink: 7;
    padding: 10px;
}

.tutorial{
    flex-basis: 30%;
    flex-shrink: 3;
    min-width: 200px;
    display: flex;
    padding: 25px;
    flex-direction: column;
    justify-content:center;
    text-align: center;
    background-color: #ffffff;
    border: #e3e1e1 solid 1px;
    border-radius: 5px;
    align-self: stretch;
}

.display{
    padding-top: 15px;
    padding-bottom: 15px;
}

.display .container{
    display: flex;
    position: relative;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-start;
    align-content: center;
    padding: 10px;
}

.display .container .card{
    max-width: 45%;
    margin-left: 10px;
    margin-top: 10px;
    box-shadow: 2px 2px 2px 1px rgba(15, 15, 18, 0.2);
    align-self: stretch;
}

.card:hover{
    transform: scale(1.03);
}

.btn:hover{
    background-color:#ffffff;
    color: black;
}


.sdg-dashboard{
    text-align: center;
    padding-top: 25px;
    background-color: #fafafa;
}


.sdg-dashboard .container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 10px;
    padding-bottom: 10px;
}

.sdg-mini{
   height: 150px;
   width: 150px;
   margin-bottom: 12px;
   position: relative;
   border-radius: 5px;
}

.sdg-mini:hover{
    transform: scale(1.05);
    box-shadow: 2px 2px 2px 1px rgba(15, 15, 18, 0.2);
}

.sdg-mini-img{
    height: 100%;
    width: 100%;
}


@media(max-width: 1000px){
    .display .container{
        flex-wrap: wrap;
    }

    .header .container{
        justify-content: center;
        align-items: center;
        padding-bottom: 15px;
    }

    .main-info{
        flex-basis: 90%;
        flex-shrink: 7;
        padding: 5px;
        text-align: center;
    }

    .tutorial{
        flex-basis: 70%;
    }

    .sdg-mini{
        margin-right: 2.5px;
        margin-bottom: 7px;
        width: 100px;
        height: 100px;
    }
}