{%extends 'base.html'%}

{%block title%}Home{%endblock%}

{%block content%}

<div class="header">
    <div class="container">
        <div class="main-info">
            <h3>Alcanzando los 17 Objetivos de Desarrollo Sostenible dentro de los 9 Límites Planetarios</h3>
            <br>
            <p class="text-secondary">El crecimiento de la humanidad se encuentra amanezada por la realidad de la finitez de recursos.
                Alcanzar un futuro próspero y digno para todos los integrantes de la humanidad puede poner en 
                riesgo el funcionamiento de sistemas planetarios vitales. 
            </p>
            <p class="text-dark">¿Logrará la humanidad cumplir con los objetivos de desarrollo sostenible sin rebazar la  capacidad
                del funcionamiento planetario?
            </p>
        </div>
        <div class="tutorial">
            <p>Entender las bases y el funcionamiento del modelo puede ser dificil.
                Si necesitas ayuda, ¡puedes ver el video tutorial!
            </p>
            <a href="{{ url_for('onwork') }}"><button class="btn btn-dark btn-lg">Ver Tutorial</button></a>
        </div>
    </div>
</div>

<div class="display">

    <div class="container">

        <div class="card" style="width: 18rem;">
            <div class="card-header">
                Objetivos de Desarrollo
            </div>
            <a href="{{ url_for('sdgs') }}">
                <img class="card-img-top" src="{{ url_for('static',filename = 'images/global-goals.png') }}" alt="Objetivos de Desarrollo">
            </a>
            
            <div class="card-body">
              <p class="card-text text-secondary">
                17 Objetivos para alcanzar un mejor futuro
              </p>
            </div>
        </div>

        <div class="card" style="width: 18rem;">
            <div class="card-header">
                Límites Planetarios
            </div>
            <a href="{{ url_for('limits') }}">
                <img class="card-img-top" src="{{ url_for('static',filename = 'images/planetary-boundaries.png') }}" alt="Limites Planetarios">
            </a>
            
            <div class="card-body">
              <p class="card-text text-secondary">
                9 Límites determinados por nuestro planeta
              </p>
            </div>
        </div>

        <div class="card" style="width: 18rem;">
            <div class="card-header">
                Modelo Earth3
            </div>
            <a href="{{ url_for('onwork') }}">
                <img class="card-img-top" src="{{ url_for('static',filename = 'images/model.png') }}" alt="Modelo Earth3">
            </a>
            
            <div class="card-body">
              <p class="card-text text-secondary">
                Construcción, Escenarios y Predicciones
              </p>
            </div>
        </div>

        <div class="card" style="width: 18rem;">
            <div class="card-header">
                Tesis
            </div>
            <a href="{{ url_for('thesis') }}">
                <img class="card-img-top" src="{{ url_for('static',filename = 'images/tesis.png') }}" alt="Tesis">
            </a>
            
            <div class="card-body">
              <p class="card-text text-secondary">Trabajo escrito, autor y bibliografia</p>
            </div>
        </div>
        
    </div>
</div>

{%endblock%}