{%extends 'base.html'%}

{%block title%}Modelo{%endblock%}

{%block content%}

<section>
    <div class="container">
        <div class="d-flex flex-column pt-5">
            <div class="construction"></div>
            <div class="my-5">
                <h3>Esta pagina esta actualmente en construccion</h3>
                <p class="text-secondary">Lamentamos los inconvenientes.</p>
                <p class="text-secondary">Sigue nuestra <span class="text-info">presencia virtual</span>
                para enterarte de nuevas actualizaciones.</p>
            </div>
        </div>
        
    </div>
</section>


{%endblock%}