{%extends 'base.html'%}

{%block title%}ODS{%endblock%}

{%block content%}

<div class="sdg-dashboard">
    <h3>Objetivos de Desarrollo Sostenible</h3>
    <div class="container">
        <p class="text-secondary">El término Desarrollo Sostenible se aplica al principio organizador empleado para alcanzar los objetivos
             de desarrollo humano y al mismo tiempo mantener la productividad y resiliencia de los sistemas
            naturales. El resultado deseado es una sociedad en la cual los recursos naturales se utilizan para continuar 
            satisfaciendo las necesidades humanas sin socavar la integridad y estabilidad del sistema natural.</p>
    </div>
    <br>
    <div class="container">
        <div class="sdg-mini">
            <a href="{{ url_for('sdg',sdg_id=1) }}">
                <img class="sdg-mini-img" src="{{ url_for('static',filename = 'images/S_SDG_inverted_WEB-01.png') }}">
            </a>
        </div>
        <div class="sdg-mini">
            <div class="sdg-mini">
                <a class="sdg-mini" href="{{ url_for('sdg',sdg_id=2) }}">
                    <img class="sdg-mini-img" src="{{ url_for('static',filename = 'images/S_SDG_inverted_WEB-02.png') }}">
                </a>
            </div>
        </div>
        <div class="sdg-mini">
            <div class="sdg-mini">
                <a class="sdg-mini" href="{{ url_for('sdg',sdg_id=3) }}">
                    <img class="sdg-mini-img" src="{{ url_for('static',filename = 'images/S_SDG_inverted_WEB-03.png') }}">
                </a>
            </div>
        </div>
        <div class="sdg-mini">
            <div class="sdg-mini">
                <a class="sdg-mini" href="{{ url_for('sdg',sdg_id=4) }}">
                    <img class="sdg-mini-img" src="{{ url_for('static',filename = 'images/S_SDG_inverted_WEB-04.png') }}">
                </a>
            </div>
        </div>
        <div class="sdg-mini">
            <div class="sdg-mini">
                <a class="sdg-mini" href="{{ url_for('sdg',sdg_id=5) }}">
                    <img class="sdg-mini-img" src="{{ url_for('static',filename = 'images/S_SDG_inverted_WEB-05.png') }}">
                </a>
            </div>
        </div>
        <div class="sdg-mini">
            <div class="sdg-mini">
                <a class="sdg-mini" href="{{ url_for('sdg',sdg_id=6) }}">
                    <img class="sdg-mini-img" src="{{ url_for('static',filename = 'images/S_SDG_inverted_WEB-06.png') }}">
                </a>
            </div>
        </div>
        <div class="sdg-mini">
            <div class="sdg-mini">
                <a class="sdg-mini" href="{{ url_for('sdg',sdg_id=7) }}">
                    <img class="sdg-mini-img" src="{{ url_for('static',filename = 'images/S_SDG_inverted_WEB-07.png') }}">
                </a>
            </div>
        </div>
        <div class="sdg-mini">
            <div class="sdg-mini">
                <a class="sdg-mini" href="{{ url_for('sdg',sdg_id=8) }}">
                    <img class="sdg-mini-img" src="{{ url_for('static',filename = 'images/S_SDG_inverted_WEB-08.png') }}">
                </a>
            </div>
        </div>
        <div class="sdg-mini">
            <div class="sdg-mini">
                <a class="sdg-mini" href="{{ url_for('sdg',sdg_id=9) }}">
                    <img class="sdg-mini-img" src="{{ url_for('static',filename = 'images/S_SDG_inverted_WEB-09.png') }}">
                </a>
            </div>
        </div>
        <div class="sdg-mini">
            <div class="sdg-mini">
                <a class="sdg-mini" href="{{ url_for('sdg',sdg_id=10) }}">
                    <img class="sdg-mini-img" src="{{ url_for('static',filename = 'images/S_SDG_inverted_WEB-10.png') }}">
                </a>
            </div>
        </div>
        <div class="sdg-mini">
            <div class="sdg-mini">
                <a class="sdg-mini" href="{{ url_for('sdg',sdg_id=11) }}">
                    <img class="sdg-mini-img" src="{{ url_for('static',filename = 'images/S_SDG_inverted_WEB-11.png') }}">
                </a>
            </div>
        </div>
        <div class="sdg-mini">
            <div class="sdg-mini">
                <a class="sdg-mini" href="{{ url_for('sdg',sdg_id=12) }}">
                    <img class="sdg-mini-img" src="{{ url_for('static',filename = 'images/S_SDG_inverted_WEB-12.png') }}">
                </a>
                
            </div>
        </div>
        <div class="sdg-mini">
            <div class="sdg-mini">
                <a class="sdg-mini" href="{{ url_for('sdg',sdg_id=13) }}">
                    <img class="sdg-mini-img" src="{{ url_for('static',filename = 'images/S_SDG_inverted_WEB-13.png') }}">
                </a>
            </div>
        </div>
        <div class="sdg-mini">
            <div class="sdg-mini">
                <a class="sdg-mini" href="{{ url_for('sdg',sdg_id=14) }}">
                    <img class="sdg-mini-img" src="{{ url_for('static',filename = 'images/S_SDG_inverted_WEB-14.png') }}">
                </a>
                
            </div>
        </div>
        <div class="sdg-mini">
            <div class="sdg-mini">
                <a class="sdg-mini" href="{{ url_for('sdg',sdg_id=15) }}">
                    <img class="sdg-mini-img" src="{{ url_for('static',filename = 'images/S_SDG_inverted_WEB-15.png') }}">
                </a>
                
            </div>
        </div>
        <div class="sdg-mini">
            <div class="sdg-mini">
                <a class="sdg-mini" href="{{ url_for('sdg',sdg_id=16) }}">
                    <img class="sdg-mini-img" src="{{ url_for('static',filename = 'images/S_SDG_inverted_WEB-16.png') }}">
                </a>
                
            </div>
        </div>
        <div class="sdg-mini">
            <div class="sdg-mini">
                <a class="sdg-mini" href="{{ url_for('sdg',sdg_id=17) }}">
                    <img class="sdg-mini-img" src="{{ url_for('static',filename = 'images/S_SDG_inverted_WEB-17.png') }}">
                </a>
            </div>
        </div>
    </div>
</div>

<div class="about-sgds mt-3">
    <div class="container">
        <h3>¿Qué son Los Objetivos de Desarrollo Sostenible (ODS)?</h3>
        <p>En Septiembre del año 2015, al terminar el periodo de cumplimiento
             de los Objetivos de Desarrollo del Milenio, el mundo había cambiado
            radicalmente. En específico China había logrado reducir significativamente
             la pobreza de su población y fortalecido su economía. Más de
            180 estados miembros de la ONU acordaron un nuevo plan de acción
            minuciosamente elaborado para incluir a todas las regiones en la vía
            del progreso. De esta manera se estableció la Agenda 2030 para el Desarrollo
             Sostenible, mejor conocida como Los Objetivos de Desarrollo
            Sostenible (ODS). El conjunto de objetivos mundiales busca poder ser
            adoptado por cualquier región mundial, incluyendo metas de crecimiento sostenible,
             prosperidad energética con cuidado al medio ambiente,
            seguridad social, paz e igualdad de género</p>
            <p>La Agenda 2030 está integrada por 17 Objetivos - que se desagregan en 169 metas - abarcando
                5 esferas de acción:</p>
            <ol>
                <li>Las Personas</li>
                <li>El Planeta</li>
                <li>La Prosperidad</li>
                <li>La Paz</li>
                <li>Las Alianzas</li>
            </ol>
            <p>El avance de cada uno de estos objetivos se mide a través de 230 indicadores globales. Se decide fijar una fecha límite para
                 alcanzar los objetivos; todos los países miembros de la ONU
                se han comprometido a cooperar a fin de alcanzar los objetivos para el año 2030.</p>
            <br>
    </div>
    <div class="container">
        <h3>Más Información:</h3>
        <div class="ref-cards">
            <div class="card my-3">
                <a href="https://www.un.org/sustainabledevelopment/es/" target="_blank">
                    <div class="card-body text-dark">Naciones Unidas</div>
                </a>
            </div>
        </div>
    </div>
</div>


{%endblock%}