{%extends 'base.html'%}

{%block title%}ODS{%endblock%}

{%block content%}

<div class="sdg-dashboard">
    <h3>Objetivos de Desarrollo Sostenible</h3>
    <hr>
    <div class="container">
        <div class="sdg-mini">
            <a href="{{ url_for('sdg',sdg_id=1) }}">
                <img class="sdg-mini-img" src="{{ url_for('static',filename = 'images/S_SDG_inverted_WEB-01.png') }}">
            </a>
        </div>
        <div class="sdg-mini">
            <div class="sdg-mini">
                <a class="sdg-mini" href="{{ url_for('sdg',sdg_id=2) }}">
                    <img class="sdg-mini-img" src="{{ url_for('static',filename = 'images/S_SDG_inverted_WEB-02.png') }}">
                </a>
            </div>
        </div>
        <div class="sdg-mini">
            <div class="sdg-mini">
                <a class="sdg-mini" href="{{ url_for('sdg',sdg_id=3) }}">
                    <img class="sdg-mini-img" src="{{ url_for('static',filename = 'images/S_SDG_inverted_WEB-03.png') }}">
                </a>
            </div>
        </div>
        <div class="sdg-mini">
            <div class="sdg-mini">
                <a class="sdg-mini" href="{{ url_for('sdg',sdg_id=4) }}">
                    <img class="sdg-mini-img" src="{{ url_for('static',filename = 'images/S_SDG_inverted_WEB-04.png') }}">
                </a>
            </div>
        </div>
        <div class="sdg-mini">
            <div class="sdg-mini">
                <a class="sdg-mini" href="{{ url_for('sdg',sdg_id=5) }}">
                    <img class="sdg-mini-img" src="{{ url_for('static',filename = 'images/S_SDG_inverted_WEB-05.png') }}">
                </a>
            </div>
        </div>
        <div class="sdg-mini">
            <div class="sdg-mini">
                <a class="sdg-mini" href="{{ url_for('sdg',sdg_id=6) }}">
                    <img class="sdg-mini-img" src="{{ url_for('static',filename = 'images/S_SDG_inverted_WEB-06.png') }}">
                </a>
            </div>
        </div>
        <div class="sdg-mini">
            <div class="sdg-mini">
                <a class="sdg-mini" href="{{ url_for('sdg',sdg_id=7) }}">
                    <img class="sdg-mini-img" src="{{ url_for('static',filename = 'images/S_SDG_inverted_WEB-07.png') }}">
                </a>
            </div>
        </div>
        <div class="sdg-mini">
            <div class="sdg-mini">
                <a class="sdg-mini" href="{{ url_for('sdg',sdg_id=8) }}">
                    <img class="sdg-mini-img" src="{{ url_for('static',filename = 'images/S_SDG_inverted_WEB-08.png') }}">
                </a>
            </div>
        </div>
        <div class="sdg-mini">
            <div class="sdg-mini">
                <a class="sdg-mini" href="{{ url_for('sdg',sdg_id=9) }}">
                    <img class="sdg-mini-img" src="{{ url_for('static',filename = 'images/S_SDG_inverted_WEB-09.png') }}">
                </a>
            </div>
        </div>
        <div class="sdg-mini">
            <div class="sdg-mini">
                <a class="sdg-mini" href="{{ url_for('sdg',sdg_id=10) }}">
                    <img class="sdg-mini-img" src="{{ url_for('static',filename = 'images/S_SDG_inverted_WEB-10.png') }}">
                </a>
            </div>
        </div>
        <div class="sdg-mini">
            <div class="sdg-mini">
                <a class="sdg-mini" href="{{ url_for('sdg',sdg_id=11) }}">
                    <img class="sdg-mini-img" src="{{ url_for('static',filename = 'images/S_SDG_inverted_WEB-11.png') }}">
                </a>
            </div>
        </div>
        <div class="sdg-mini">
            <div class="sdg-mini">
                <a class="sdg-mini" href="{{ url_for('sdg',sdg_id=12) }}">
                    <img class="sdg-mini-img" src="{{ url_for('static',filename = 'images/S_SDG_inverted_WEB-12.png') }}">
                </a>
                
            </div>
        </div>
        <div class="sdg-mini">
            <div class="sdg-mini">
                <a class="sdg-mini" href="{{ url_for('sdg',sdg_id=13) }}">
                    <img class="sdg-mini-img" src="{{ url_for('static',filename = 'images/S_SDG_inverted_WEB-13.png') }}">
                </a>
            </div>
        </div>
        <div class="sdg-mini">
            <div class="sdg-mini">
                <a class="sdg-mini" href="{{ url_for('sdg',sdg_id=14) }}">
                    <img class="sdg-mini-img" src="{{ url_for('static',filename = 'images/S_SDG_inverted_WEB-14.png') }}">
                </a>
                
            </div>
        </div>
        <div class="sdg-mini">
            <div class="sdg-mini">
                <a class="sdg-mini" href="{{ url_for('sdg',sdg_id=15) }}">
                    <img class="sdg-mini-img" src="{{ url_for('static',filename = 'images/S_SDG_inverted_WEB-15.png') }}">
                </a>
                
            </div>
        </div>
        <div class="sdg-mini">
            <div class="sdg-mini">
                <a class="sdg-mini" href="{{ url_for('sdg',sdg_id=16) }}">
                    <img class="sdg-mini-img" src="{{ url_for('static',filename = 'images/S_SDG_inverted_WEB-16.png') }}">
                </a>
                
            </div>
        </div>
        <div class="sdg-mini">
            <div class="sdg-mini">
                <a class="sdg-mini" href="{{ url_for('sdg',sdg_id=17) }}">
                    <img class="sdg-mini-img" src="{{ url_for('static',filename = 'images/S_SDG_inverted_WEB-17.png') }}">
                </a>
            </div>
        </div>
    </div>
</div>

<div class="about-sgds mt-3">
    <div class="container">
        <h3>Que son Los Objetivos de Desarrollo Sostenible (ODS)?</h3>
    </div>
</div>


{%endblock%}