{%extends 'base.html'%}

{%block title%}Modelo{%endblock%}

{%block content%}

<div class="container mt-3">
    <div class="header d-flex flex-column flex-lg-row bg-white text-dark">
        <img class="sdg-mini-img" src="{{ url_for('static',filename='images/{}.png'.format(sdg['main-image']) ) }}">
        <div class="container d-flex flex-column align-content-center p-5">
            <h1 class="text-dark">{{sdg['short-title']}}</h1>
            <h3 class="text-secondary">{{sdg['long-title']}}{{A}}</h3>
                
         </div>
    </div>
</div>

<section>
    <div class="container d-flex flex-column flex-lg-row align-items-strech my-5">
        <div class="main-description p-3 p-md-5">
            <h3>¿Cuál es la situación?</h3>
            {%for d in sdg['main-description']%}
            <p>{{d}}</p>
            {%endfor%}
        </div>
        <div class="goals p-5 bg-primary text-white">
            <h3>Metas del Objetivo</h3>
            <ul class="list-group">
                {%for g in sdg['goals']%}
                <hr>
                <l1 class="list-item mb-3">{{g}}</l1>
                {%endfor%}
            </ul>
        </div>
    </div>
    <div class="conatiner d-flex justify-content-around mb-5">
        {% set next_id = (id+1)|string %}
        {% set prev_id = (id-1)|string %}
        {%if id == 1%}
            {% set prev_id = '17'%}
        {%endif%}
        {%if id == 17 %}
            {% set next_id = '1' %}
        {%endif%}
        <a href="{{ url_for('sdg',sdg_id=prev_id) }}">
            <div class="btn btn-dark btn-lg">Objetivo Anterior</div>
        </a>
        <a href="{{ url_for('sdg',sdg_id=next_id) }}">
            <div class="btn btn-dark btn-lg">Siguiente Objetivo</div>
        </a>
    </div>
    <div class="container">
        <h3>Aprende más sobre el Objetivo</h3>
        <div class="ref-cards">
            {%for l in sdg['links']%}
            {% set link = l['link'] %}
            <div class="card my-3">
                <a href={{link}} target="_blank">
                    <div class="card-body text-dark">
                        {{l['link-name']}}
                    </div>
                </a>
            </div>
            {%endfor%}
        </div>
    </div>
</section>


{%endblock%}