{%extends 'base.html'%}

{%block title%}Tesis{%endblock%}

{%block content%}

<div class="thesis-dashboard">
    <div class="container">
        <h3>Tesis</h3>
        <br>
        <p>En esta sección pone a disponsición el trabajo escrito:</p>
        <p class="text-secondary">"Alcanzando los 17 Objetivos de Desarrollo Sostenible dentro de los 9 Limites Planetarios".</p>
        <p>Este trabajo fue realizado con la finalidad de obtener el titulo de:</p>
        <p class="text-secondary">Licenciado en Matematicas Aplicadas</p>
        <p>otorgado por la Facultad de Ciencias de la</p>
        <p class="text-secondary">Universidad Nacional Autonoma de Mexico</p>
        <br>
        <a href="{{ url_for('onwork') }}"><button class="btn btn-dark">Descargar Tesis</button></a>
    </div>
</div>

<div class="about-author">
    <div class="container">
        <h4>Sobre el Autor</h4>
        <br>
        <p class="text-secondary">
            El trabajo de tesis fue realizado por Jonatan Blank hall con la finalidad de obtener el
            titulo de Licenciado en Matematicas Aplicadas, otorgado por la Facultad de Ciencias de
            la Universidad Nacional Autonoma de Mexico.
        </p>
        <p class="text-secondary">Se pone a disposicion diferentes maneras para contactar al autor del trabajo.
            Ya sea para dudas, comentarios u oportunidades de colaboracion.
        </p>
        <br>
        <div class="contact">
            <div class="contact-link">

                <a href="https://github.com/blankhall98" target="_blank">
                    <img  class="img-contact" src="{{ url_for('static',filename = 'images/CONTACT-github.png') }}" alt="GITHUB">
                </a>
                
            </div>
            <div class="contact-link">
                <a href="{{ url_for('onwork') }}" target="_blank">
                    <img  class="img-contact" src="{{ url_for('static',filename = 'images/CONTACT-mail.png') }}" alt="MAIL">
                </a>
                
            </div>
            <div class="contact-link">
                <a href="https://www.linkedin.com/in/blankhall-jonatan/" target="_blank">
                    <img  class="img-contact" src="{{ url_for('static',filename = 'images/CONTACT-linkedin.png') }}" alt="LINKEDIN">
                </a>
                
            </div>
        </div>
    </div>
    
</div>

<div class="references">
    <div class="container">
        <h4>Referencias</h4>
        <br>
        <p class="text-secondary">El trabajo esta inspirado - y se basa - en los articulos que se enlistan a continuacion:</p>
        <div class="ref-cards">

            <div class="card">
                <a href="https://www.ecologyandsociety.org/vol14/iss2/art32/" target="_blank">
                    <div class="card-body">
                        Planetary Boundaries: Exploring the Safe Operating Space for Humanity
                    </div>
                </a>
            </div>

            <div class="card">
                <a href="https://www.nature.com/articles/461472a" target="_blank">
                    <div class="card-body">
                        A safe operating space for humanity
                    </div>
                </a>  
            </div>

            <div class="card">
                <a href="https://www.science.org/doi/10.1126/science.1259855" target="_blank">
                    <div class="card-body">
                        Planetary boundaries: Guiding human development on a changing planet
                    </div>
                </a>  
            </div>
            
            <div class="card">
                <a href="https://eartharxiv.org/repository/view/1199/" target="_blank">
                    <div class="card-body">
                        Achieving the 17 Sustainable Development Goals within 9 planetary boundaries
                    </div>
                </a>  
            </div>

            <div class="card">
                <a href="https://www.stockholmresilience.org/publications/publications/2018-10-17-transformation-is-feasible---how-to-achieve-the-sustainable--development-goals-within-planetary-boundaries.html" target="_blank">
                    <div class="card-body">
                        Transformation is feasible - How to achieve the Sustainable Development Goals within Planetary Boundaries
                    </div>
                </a>  
            </div>

            <div class="card">
                <a href="https://eartharxiv.org/repository/view/1200/" target="_blank">
                    <div class="card-body">
                        The Empirical Bases for the Earth3 Model: Technical Notes on the Sustainable Development Goals and Planetary Boundaries
                    </div>
                </a>  
            </div>
            
        </div>
</div>


{%endblock%}